<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>我的</title>
    <link rel="stylesheet" href="assets/css/weui.min.css"/>
    <link rel="stylesheet" href="assets/css/familytree.css"/>
</head>
<body ontouchstart>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>

<script src="assets/js/zepto.min.js"></script>
<script type="text/javascript" src="assets/js/jweixin-1.0.0.js"></script>
<script src="assets/js/weui.min.js"></script>
<script src="assets/js/familytree.js"></script>

<script type="text/javascript">
    $(function(){
        
    })
</script>
</body>
</html>
