<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="font/iconfont.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>紫荆堂-田氏族谱</title>
    <link rel="stylesheet" href="assets/css/weui.css"/>
    <link rel="stylesheet" href="assets/css/example.css"/>
    <link rel="stylesheet" href="assets/css/lst-style.css"/>
</head>

<body ontouchstart>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>

<div class="container" id="container"></div>


<!-- 登录页 -->
<script type="text/html" id="tpl_home">
    <div class="page">
        <div class="weui-form">
            <div class="page__hd">
                <h1 class="page__title" style="text-align: center;">
                    <img src="./images/ts-logo.png" alt="WeUI" height="100px"/>
                </h1>
                <p class="page__desc" style="text-align: center;">紫荆堂，田氏族谱</p>
            </div>
            <div class="weui-form__control-area">
<!--                <form id="loginForm" action="loginAccountAndPassword" method="post">-->
                    <div class="weui-cells__group weui-cells__group_form">
                        <div class="weui-cells weui-cells_form">
                            <div class="weui-cell weui-cell_active">
                                <div class="weui-cell__hd"><label class="weui-label">账号</label></div>
                                <div class="weui-cell__bd">
                                    <input id="account" name="account" class="weui-input" placeholder="请输入账号"/>
                                </div>
                                <div class="weui-cell__ft cha" style="display: none;">
                                    <button class="weui-btn_reset weui-btn_icon">
                                        <i id="showIOSDialog1" class="iconfont icon-icon-cross-empty"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="weui-cell weui-cell_active">
                                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                                <div class="weui-cell__bd">
                                    <input id="password" name="password" type="password" class="weui-input" placeholder="请输入密码"/>
                                </div>
                                <div class="weui-cell__ft mima" style="display: none;">
                                    <button class="weui-btn_reset weui-btn_icon">
                                        <i id="mima" class="iconfont icon-icon-cross-empty"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                </form>-->
            </div>

            <div class="weui-form__opr-area">
                <a class="weui-btn weui-btn_primary weui-btn_disabled" href="javascript:" id="showTooltips" >确定</a>
            </div>

            <div class="weui-form__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links m-b-p">
                        <a href="forgetPassword" class="weui-footer__link">忘记密码</a>
                    </p>
                    <p class="weui-footer__links">
                        <a href="register" class="weui-footer__link">没有账号，去注册 ></a>
                    </p>
                    <p class="weui-footer__text">2020-2022 &nbsp; kingTrustCloud</p>
                </div>
            </div>
        </div>

        <!-- 黑背景的文本提示 -->
        <div id="js_toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content">已完成</p>
            </div>
        </div>
    </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            var isshowbtn = false;
            // var winH = $(window).height();
            // var categorySpace = 10;

           // var $toast = $('#js_toast');

            var $input = $('#account');
            var $input2 = $('#password');
            $input.on('input', function () {
                if ($input.val() && $input2.val()) {
                    $('#showTooltips').removeClass('weui-btn_disabled');
                    isshowbtn = true
                } else {
                    $('#showTooltips').addClass('weui-btn_disabled');
                    isshowbtn = false
                }
                if ($input.val() ) {
                    $('.cha').show()
                } else {
                    $('.cha').hide()
                }
            });
            $input2.on('input', function () {
                if ($input.val() && $input2.val()) {
                    $('#showTooltips').removeClass('weui-btn_disabled');
                    isshowbtn = true
                } else {
                    $('#showTooltips').addClass('weui-btn_disabled');
                    isshowbtn = false
                }
                if ($input2.val() ) {
                    $('.mima').show()
                } else {
                    $('.mima').hide()
                }
            });
            $('#showIOSDialog1').on('click',function(){
                $input.val("")
                $('.cha').hide()
                $('#showTooltips').addClass('weui-btn_disabled');
                isshowbtn =false
            });
            $('#mima').on('click',function(){
                $input2.val("")
                $('.mima').hide()
                $('#showTooltips').addClass('weui-btn_disabled');
                isshowbtn =false
            });
            $('#showTooltips').on('click', function () {
                if ( !isshowbtn)  return;
                var account = $('#account').val();
                var password = $('#password').val();
                if (!account && !password) return;
                if (!account) {
                    weui.topTips("请填入账号", 3000);
                    return;
                }
                if (!password) {
                    weui.topTips("请填入密码", 3000);
                    return;
                }
                var loading1 = weui.loading("加载中..");

                ajaxPost(
                    {
                        type: "POST",
                        url: "loginAccountAndPassword",
                        data: {account: account, password: password},
                        success: function (data) {
                             loading1.hide();
                            if (data.statusCode == 200) {
                                location.href=data.data.url;
                            } else {
                                weui.topTips(data.message, 3000);
                            }
                        }
                    });


                /*   setTimeout(function () {
                       $toast.fadeOut(100);
                       // window.location.hash="newUser";
                       //window.location="./home.html";

                   }, 2000);*/
            });
        });

        // function submitLogin() {
        //     if ( !isshowbtn)  return
        //     var account = $('#account').val();
        //     var password = $('#password').val();
        //     if (!account) {
        //         weui.topTips("请填入账号", 3000);
        //         return false;
        //     }
        //     if (!password) {
        //         weui.topTips("请填入密码", 3000);
        //         return false;
        //     }
        //     $('#loginForm').submit();
        //     return true;
        // }
</script>
</script>
<script src="assets/js/zepto.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script src="assets/js/example.js"></script>
<script src="assets/js/familytree.js"></script>
<!-- 登录页 end -->
</body>

</html>